@font-face {
  font-family: Oswald;
  src: url(font/en/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: inter;
  src: url(font/en/Inter-VariableFont_opsz\wght.ttf);
}
@font-face {
  font-family: PrimerSC;
  src: url(font/en/IMFellGreatPrimerSC-Regular.ttf);
}
@font-face {
  font-family: Orbitron;
  src: url(font/en/Orbitron-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  width: 1366px;
  height: 2180px;
  background-color: #09010e;
}
div.exprience {
  position: relative;
  width: 902.21px;
  height: 88.57px;
  top: 39.36px;
  border: 0.69px 0px 0px 0px;
  border-radius: 6.56px 6.56px 6.56px 19.68px;
  background-color: #534686;
  border: 0.69px solid;
  border-image: linear-gradient(
    179deg,
    rgba(255, 255, 255, 1) 100%,
    rgba(170, 20, 240, 1) 100%
  );
}
div.exprience > p {
  position: absolute;
  width: 280px;
  height: 46px;
  top: 29.16px;
  right: 483.56px;
  font-family: Orbitron;
  font-size: 21.11px;
  font-weight: 600;
  line-height: 22.71px;
  text-align: right;
  color: #ffffff;
}
div.exprience > img {
  position: absolute;
  width: 104.17px;
  height: 72.09px;
  top: 5.96px;
  right: 780.18px;
  border-radius: 6.56px 19.68px 6.56px 6.56px;
}
div.gallery {
  position: relative;
}
div.gallery > p {
  position: absolute;
  width: 266px;
  height: 28px;
  top: 173.86px;
  right: 37.72px;
  font-family: Orbitron;
  font-size: 26.1px;
  font-weight: 900;
  line-height: 27.36px;
  text-align: left;
  color: #ffffff;
}
div.gallery > div.img {
  position: absolute;
  right: 0px;
}
div.gallery > div.img > img:nth-child(1) {
  top: 250px;
  right: 40px;
  position: absolute;
  width: 460.21px;
  height: 360px;
  display: flex;
  border-radius: 4.92px 0px 0px 0px;
  border: 0.54px 0px 0px 0px;
}
div.gallery > div.img > img:nth-child(2) {
  top: 250px;
  right: 550px;
  position: absolute;
  width: 460.21px;
  height: 360px;
  display: flex;
  border-radius: 4.92px 0px 0px 0px;
  border: 0.54px 0px 0px 0px;
}
div.gallery > div.img > img:nth-child(3) {
  top: 650px;
  right: 40px;
  position: absolute;
  width: 460.21px;
  height: 360px;
  display: flex;
  border-radius: 4.92px 0px 0px 0px;
  border: 0.54px 0px 0px 0px;
}
div.gallery > div.img > img:nth-child(4) {
  top: 650px;
  right: 550px;
  position: absolute;
  width: 460.21px;
  height: 360px;
  display: flex;
  gap: 0px;
  border-radius: 4.92px 0px 0px 0px;
  border: 0.54px 0px 0px 0px;
  opacity: 0px;
}
div.say {
  position: relative;
  width: 960px;
  height: 250.51px;
  top: 1145.58px;
  right: 40px;
  gap: 0px;
  border-radius: 10.35px;
  border: 1.07px 0px 0px 0px solid;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #aa14f0 -42.58%,
    rgba(170, 20, 240, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(185, 54, 245, 0) 100%
  );
  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.1375) 1.95%,
    rgba(185, 54, 245, 0.11) 1.95%,
    rgba(170, 20, 240, 0.0825) 108.82%
  );
}
div.say > p:nth-child(1) {
  position: absolute;
  width: 493px;
  height: 31px;
  top: 50px;
  right: 77px;
  font-family: Orbitron;
  font-size: 25.82px;
  font-weight: 700;
  line-height: 23.6px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}
div.say > p:nth-child(2) {
  position: absolute;
  width: 420.31px;
  height: 35.8px;
  top: 85px;
  right: 269.44px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.89px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffffc2;
}
div.opinion {
  position: absolute;
}
div.opinion > div.first {
  position: absolute;
  width: 302.67px;
  height: 160.74px;
  top: 153.4px;
  right: 12.69px;
  border-radius: 10.91px;
  border: 0.76px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #cb8de8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%
  );
  border: 0.76px solid;

  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.1375) 1.95%,
    rgba(185, 54, 245, 0.11) 1.95%,
    rgba(170, 20, 240, 0.0825) 108.82%
  );
}
div.opinion > div.first > p:nth-child(1) {
  position: absolute;
  width:64.13px;
  height: 6.53px;
  top: 20px;
  right: 10.01px;
  font-family: Inter;
  font-size: 12.98px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.0em;
  text-align: right;
  color: #f7b603;
  font-size: 15px;
}
div.opinion > div.first > p:nth-child(2) {
  position: absolute;
  width: 12.57px;
  height: 6.03px;
  top: 20px;
  right: 75.13px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.07em;
  text-align: right;
  color: #e4e5e7;
}
div.opinion > div.first > p:nth-child(3) {
  position: absolute;
  width: 280.66px;
  height: 25.13px;
  top: 35.22px;
  right: 9.01px;
  font-family: Inter;
  font-size: 17.53px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffffc2;
}
div.opinion > div.first > p:nth-child(4) {
  position: absolute;
  width: 93.41px;
  height: 6.64px;
  top: 120.08px;
  right: 56.97px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffff;
}
div.opinion > div.first > p:nth-child(5) {
  position: absolute;
  width: 30.41px;
  height: 6.36px;
  top: 136.44px;
  right: 56.97px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #eb4468;
}
div.opinion > div.second {
  position: absolute;
  width: 302.67px;
  height: 160.74px;
  top: 153.4px;
  right: 332.69px;
  border-radius: 10.91px;
  border: 0.76px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #cb8de8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%
  );
  border: 0.76px solid;

  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.1375) 1.95%,
    rgba(185, 54, 245, 0.11) 1.95%,
    rgba(170, 20, 240, 0.0825) 108.82%
  );
}
div.opinion > div.second > p:nth-child(1) {
  position: absolute;
  width:64.13px;
  height: 6.53px;
  top: 20px;
  right: 10.01px;
  font-family: Inter;
  font-size: 12.98px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.0em;
  text-align: right;
  color: #f7b603;
  font-size: 15px;
}
div.opinion > div.second > p:nth-child(2) {
  position: absolute;
  width: 12.57px;
  height: 6.03px;
  top: 20px;
  right: 75.13px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.07em;
  text-align: right;
  color: #e4e5e7;
}
div.opinion > div.second > p:nth-child(3) {
  position: absolute;
  width: 280.66px;
  height: 25.13px;
  top: 45.22px;
  right: 3.01px;
  font-family: Inter;
  font-size: 17.53px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffffc2;
}
div.opinion > div.second > p:nth-child(4) {
  position: absolute;
  width: 93.41px;
  height: 6.64px;
  top: 120.08px;
  right: 56.97px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffff;
}
div.opinion > div.second > p:nth-child(5) {
  position: absolute;
  width: 30.41px;
  height: 6.36px;
  top: 136.44px;
  right: 56.97px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #eb4468;
}
div.opinion > div.third {
  position: absolute;
  width: 302.67px;
  height: 160.74px;
  top: 153.4px;
  right: 649.69px;
  border-radius: 10.91px;
  border: 0.76px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #cb8de8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%
  );
  border: 0.76px solid;

  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.1375) 1.95%,
    rgba(185, 54, 245, 0.11) 1.95%,
    rgba(170, 20, 240, 0.0825) 108.82%
  );
}
div.opinion > div.third > p:nth-child(1) {
  position: absolute;
  width:64.13px;
  height: 6.53px;
  top: 20px;
  right: 10.01px;
  font-family: Inter;
  font-size: 12.98px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.0em;
  text-align: right;
  color: #f7b603;
  font-size: 15px;
}
div.opinion > div.third > p:nth-child(2) {
  position: absolute;
  width: 12.57px;
  height: 6.03px;
  top: 20px;
  right: 75.13px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 8.57px;
  letter-spacing: 0.07em;
  text-align: right;
  color: #e4e5e7;
}
div.opinion > div.third > p:nth-child(3) {
  position: absolute;
  width: 280.66px;
  height: 25.13px;
  top: 45.22px;
  right: 3.01px;
  font-family: Inter;
  font-size: 17.53px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffffc2;
}
div.opinion > div.third > p:nth-child(4) {
  position: absolute;
  width: 93.41px;
  height: 6.64px;
  top: 120.08px;
  right: 56.97px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffff;
}
div.opinion > div.third > p:nth-child(5) {
  position: absolute;
  width: 30.41px;
  height: 6.36px;
  top: 136.44px;
  right: 56.97px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 9.12px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #eb4468;
}
div.opinion > div.first > img {
  position: absolute;
  width: 36.53px;
  height: 36.25px;
  top: 115.97px;
  right: 13.7px;
  border-radius: 50%;
}
div.opinion > div.second > img {
  position: absolute;
  width: 36.53px;
  height: 36.25px;
  top: 115.97px;
  right: 13.7px;
  border-radius: 50%;
}
div.opinion > div.third > img {
  position: absolute;
  width: 36.53px;
  height: 36.25px;
  top: 115.97px;
  right: 13.7px;
  border-radius: 50%;
}
div.values {
  position: relative;
  top: 1260.11px;
  right: 60px;
}
div.values > div.explanation {
  position: absolute;
  width: 520px;
  height: auto;
}
div.values > div.explanation > p:nth-child(1) {
  position: absolute;
  width: 294.48px;
  height: 39.55px;
  top: 0px;
  right: 0px;
  font-family: Orbitron;
  font-size: 26.82px;
  font-weight: 700;
  line-height: 30.6px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffff;
}
div.values > div.explanation > p:nth-child(2) {
  position: absolute;
  width: 348px;
  height: 32px;
  top: 62px;
  right: 0px;
  font-family: Inter;
  font-size: 19px;
  font-weight: 450;
  line-height: 19.52px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #ffffffc2;
}
div.values > div.work {
  position: absolute;
  width: 600px;
  height: auto;
  right: 600px;
}
div.values > div.work > p:nth-child(1) {
  position: absolute;
  font-size: 35px;
  top: 0px;
  right: 15px;
}
div.values > div.work > p:nth-child(2) {
  position: absolute;
  width: 80px;
  height: 18px;
  top: 44.44px;
  right: 0px;
  color: #ffffff;
}
div.values > div.work > p:nth-child(3) {
  position: absolute;
  font-size: 35px;
  top: 0px;
  right: 130px;
}
div.values > div.work > p:nth-child(4) {
  position: absolute;
  width: 120px;
  height: 18px;
  top: 44.44px;
  right: 125px;
  color: #ffffff;
}
div.values > div.work > p:nth-child(5) {
  position: absolute;
  font-size: 35px;
  top: 80px;
  right: 10px;
}
div.values > div.work > p:nth-child(6) {
  position: absolute;
  width: 120px;
  height: 18px;
  top: 130.44px;
  right: 0px;
  color: #ffffff;
}
div.values > div.work > p:nth-child(7) {
  position: absolute;
  font-size: 35px;
  top: 80px;
  right: 130px;
}
div.values > div.work > p:nth-child(8) {
  position: absolute;
  width: 140px;
  height: 18px;
  top: 130.44px;
  right: 98px;
  color: #ffffff;
}
div.explore {
  position: relative;
  width: 951.6px;
  height: 324.59px;
  top: 1454.17px;
  right: 40px;
  gap: 0px;
  border-radius: 7.35px;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #aa14f0 -42.58%,
    rgba(170, 20, 240, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(185, 54, 245, 0) 100%
  );
  border: 1.62px solid;

  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.15) 1.95%,
    rgba(185, 54, 245, 0.12) 1.95%,
    rgba(170, 20, 240, 0.09) 108.82%
  );
}

div.explore > p:nth-child(1) {
  position: absolute;
  width: 306px;
  height: 80px;
  top: 60px;
  right: 64px;
  font-family: Orbitron;
  font-size: 30.03px;
  font-weight: 700;
  line-height: 29.11px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #ffffff;
}

div.explore > p:nth-child(2) {
  position: absolute;
  width: 326.45px;
  height: 20.27px;
  top: 131.78px;
  right: 64.04px;
  font-family: Oswald;
  font-size: 17px;
  font-weight: 400;
  line-height: 18.58px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #ffffffc2;
}
div.explore > input:nth-child(3) {
  position: absolute;
  font-size: 16px;
  padding-right: 10px;
  color: #ffffff;
  position: absolute;
  width: 208.79px;
  height: 36.82px;
  padding-left: 15px;
  top: 205.06px;
  right: 64.22px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #cb8de8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%
  );
  box-shadow: 0px -9.73px 16.21px 0px #ffffff08 inset;
  border: 1px solid;
  border-image-source: linear-gradient(
    77.91deg,
    rgba(185, 54, 245, 0.1375) 1.95%,
    rgba(185, 54, 245, 0.11) 1.95%,
    rgba(170, 20, 240, 0.0825) 108.82%
  );
}
div.explore > button:nth-child(4) {
  color: #e0e0e0;
  font-family: inter;
  font-size: 17px;
  padding: 0px;
  margin-right: 270px;
  margin-top: 208px;
  width: 90px;
  height: 35px;
  border: 1px solid #c54b8c;
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.explore > img:nth-child(5) {
  position: absolute;
  width: 500.05px;
  height: 324.94px;
  top: 0px;
  right: 452.45px;
  border-radius: 7.32px;
}
div.radial {
  position: relative;
}
div.radial > div.gradient {
  width: 367.19px;
  height: 354.08px;
  top: 821.85px;
  right: -144.4px;
  position: absolute;
  background: radial-gradient(
    37.26% 37.26% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 120%
  );
}
div.radial-1 {
  position: relative;
}
div.radial-1 > div.gradient-1 {
  display: inline;
  width: 367.19px;
  height: 354.08px;
  top: 821.85px;
  right: 799px;
  position: absolute;
  background: radial-gradient(
    37.26% 37.26% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 120%
  );
}
div.radial-2 {
  position: relative;
}
div.radial-2 > div.gradient-2 {
  width: 667.19px;
  height: 654.08px;
  top: 21.85px;
  right: -344.4px;
  position: absolute;
  background: radial-gradient(
    37.26% 37.26% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 120%
  );
}
